{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}

<div class="container tableau">
<h1>Les utilisateur qui aime mes commentaires</h1>

  <table class="table">

      <tbody>
<tr>
{% for commentaire in commentaire %}
{% for avis in commentaire.avis %}
{% if avis.reaction == 1 %}


<td>{{avis.utilisateur.username}} a aimé votre commentaire "{{avis.commentaire.commentaire}}" sur l'article {{avis.commentaire.article.titre}}</td>
</tr>
{% endif %}
{% endfor %}
{% endfor %}

</tbody>
</table>
</div>
</div>
