{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}

<h1>Les utilisateur qui aime mes commentaires</h1>
<div class="container">
  <table class="table">
      <thead>
          <tr>
              <th>Pseudo</th>
              <th>Commentaire aimé</th>
          </tr>
      </thead>
      <tbody>
<tr>
}

</tbody>
</table>
</div>
