{% trans_default_domain 'FOSUserBundle' %}

<style>
.button {

    background: #007bd7;

}
h3{
  color: white;
  margin-bottom: 20px;
}

li{
  color: red;
}
label{
  position: inherit;
  text-align: center;
}

.tab-group li a {
    width: 100%;

}

</style>
<form class="form text-center" action="{{ path("fos_user_change_password") }}" method="post">
  <ul class="tab-group">
    <li class="tab active"><a href="#">MODIFIER MOT DE PASSE </a></li>
  </ul>


{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
      <button type="submit" class="button button-block" style="margin-top:15px;"/>MODIFIER</button>
    </div>
{{ form_end(form) }}

</form> <!-- /form -->
