body{

  font-family: 'Roboto Condensed', sans-serif;
}
.navbar-default{
    background-color: rgba(255,255,255,0.7);
    border-color: rgba(255,255,255,0.7)
    opacity: 0.1px;
    color: white;
    margin:0;
}

.navbar-default .navbar-nav>li>a:hover{
  background-color:white;
}


.reservation {
  height: 200px;
  opacity: 0.1px;
  background-color: white;
  background: rgba(255, 255, 255, 0.7);
  width: auto;
  margin-top: 30px;
  border: 5px solid #FFF;
}
