body{
}
.navbar-default{
    background-color: rgba(255,255,255,0.7);
    border-color: rgba(255,255,255,0.7)
    opacity: 0.0px;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover{
  background-color:white;
}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


.tableau{
  background-color: white;
padding: 60px;
}

#admin {
  background-color: #1ab188;
  color: white;
}

.navbar {
     border-radius: 0px;
}

.dropdown-menu{
  text-align: right;

}

#marge{
  margin-top: 50px;
}

#navback{
  background: url('../img/sky2.jpg');background-repeat: no-repeat;background-size: cover;
  border-color: transparent;
    border-width: 0 0 0px;
}
}

.labelpub{
  color: grey;
}

.error{
  color: red;
  font-size: 15px;
}
