{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}

<h1>Liste des commentaires</h1>
<div class="container">
  <table class="table">
      <thead>
          <tr>
              <th>Titre de l'article</th>
              <th>Mon commentaire</th>
          </tr>
      </thead>
      <tbody>
{% for commentaire in commentaires %}
<tr>
<td>{{commentaire.article.titre}}</td>
<td>{{commentaire.commentaire}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
