{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}


<div class="container tableau">
  <h1 style="color:black;">Liste des commentaires</h1>
  <table class="table">
    <div class="container">
      <table class="table">

        <tbody>
        {% for commentaire in commentaires %}
        <tr>

            <td>
              Vous avez posté le commentaire "{{commentaire.commentaire| truncate(30, true, ' ...')}}" sur l'article {{commentaire.article.titre}}

              <a href="{{ path('commentaire_edit' , {'id': commentaire.id }) }}"><i class="fa fa-edit"></i><a>

              <a href="{{ path('commentaire_delete' , {'id': commentaire.id }) }}"><i class="fa fa-remove"></i><a>


            </td>




        </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
