{% include "FOSUserBundle::layout.html.twig" %}
{% include "base.html.twig" %}


<div class="container tableau">
  <h1 style="color:black;">Liste des commentaires</h1>
  <table class="table">
    <div class="container">
      <table class="table">

        <tbody>
        {% for commentaire in commentaires %}
        <tr>

          <td>Vous avez posté le commentaire "{{commentaire.commentaire}}" sur l'article {{commentaire.article.titre}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
