{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article creation</h1>
    <div class="form">
      {{ form_start(form) }}
          {{ form_widget(form) }}
          <button type="submit" class="button button-block"/>Creer</button>
      {{ form_end(form) }}

    </div>



    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
