{% include "FOSUserBundle::layout.html.twig" %}
{% include 'base.html.twig' %}
<style>

textarea{
  margin-top: 2%;
  margin-bottom: 2%;
}

input{
  margin-bottom: 2%;
}

button{
  margin-top: 2%;
}

label{
    color: white;
    font-size: 15px;
    position: inherit;
    margin-right: 10px;
}
</style>
{% block body %}
    <div class="form">
      <h1>Créer un article</h1>
      {{ form_start(form) }}
          {{ form_widget(form) }}
          <button type="submit" class="button button-block"/>Creer</button>
      {{ form_end(form) }}
      <div class="col-md-12 text-center" style="margin-top: 10px;">
      <a style="color:grey;" id="black" href="{{ path('allarticle_index') }}">retour à la liste</a>
    </div>
    </div>



{% endblock %}
